#It usually leads to less errors if these packages are already installed before
#installing others
cython
reactivex >= 4.0.0

# VV: Set pytest-xdist to 1.34.0 to address some inconsistencies with test_control.py in python 3
# pytest-xdist: With python3 a particular unit-test fails with xdist >2. T
#   Issue is not resolved -> see https://github.ibm.com/hartreechem/flow/issues/1097 and linked issues
pytest-xdist==1.34.0
